h2 {
  color: #0071bc;
}

h3 {
  color: #0071bc;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
}

h4 {
  color: #0071bc;
}

.guide-section__title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
  color: #212121;
}

.guide-references__title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
  color: #0071bc;
}

.guide-casestudy__title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
  color: #212121;
}


.guide-footnotes {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
  font-size: 14px;
}

.guide-gray-box {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #f1f1f1;
}

.guide-blue-box {
  padding: 0 1.5rem;
  margin-top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #e1f3f8;
}

.guide-blue-box img {
  margin-right: 1.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media print {
    header, footer, aside, form … {
        display: none;
    }
}
