<h1>Acknowledgements</h1>
<h3>Contact Information</h3>
<p>Please send questions or comments.<br>
GSA Customer Experience: customerexperience@GSA.gov<br>
The Lab at OPM: LAB@opm.gov<br></p>
<h3>Thanks and Acknowledgment</h3>
<p>Numerous people, across agencies, contributed to this guide. We are grateful to all of them. </p>
<p>Veterans Experience Office at VA<br>
GSA Office of Customer Experience<br>
The Lab at OPM </p>
<p>We would also like acknowledge other leaders in the field of Human-Centered Design which inspired and informed this guide: The VA Innovators Network, 18F, USDS (United States Digital Service), the United Kingdom’s Government Digital Service (UK GDS), New York City’s Civic Service Design group, Helsinki Design Lab, Ideo, Frog Design, IBM Design, and The d.School at Stanford University.</p>
