<h1>Communicating Ideas Through Design</h1>
<p>In the following section, find guidance on how to envision the design process, the process of ideation, why iteration is crucial, and how feedback is a crucial part of the Design phase.</p>
<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="envisioning.html">Read Next &gt;</a>
  </div>
</div>
