<h1>Design for Change</h1>
<h2>Design is Not Permanent</h2>
<p>The Design phase requires much energy and effort to push through. It sometimes seems as though teams must make all the right decisions or get everything perfect before launch is possible. It is important to remember that no design is permanent;
  everything will need to change, will have to flex, and will ultimately be succeeded by something that is hopefully more useful and more delightful than the thing originally designed. To prepare for this and to build in space for flexibility and
  change, many design teams work as though they are always in an interative loop: constantly designing, testing, delivering, and meausuring designs they know aren’t perfect but are getting closer and closer to a perceived ideal.
</p>
<p>By positioning themselves as constantly revising, the designed product or service does not run the risk of never launching, but also does not run the risk of creating a thing that is too rigid to flex and change. Teams attempt to strike a balance
  between thoughtful and rigorous and obsessively cautious. Besides, until participants test, design teams can’t even know if their ideas are workable, so it’s imperative to get designs out into the world, to see how the work, and to revise, revise,
  revise. And you don’t even know what perfect is until people start to use it. Know that the work is not permanent, and don’t be too precious with it.
</p>
<h3>Case Study</h3>
<p>
  <strong>Lab’s edutional products</strong><br>
  The Lab’s educational products are a great example of impermance. Arguably, none of our classes, intensives, or workshops will ever have a perfect version, and, depending on the instructor and partcipants, they will definitely change. The Lab runs
  them over and over again to see which combination of content and timing might work better than a previous version, but there is no illusion that a single, fixed version will continue to be perfect for years and years.
</p>

<h2>Good Ideas Have Long Half- Lives</h2>
<p>(Coming soon)</p>

<h2>Life cycle of your design</h2>
<p>The unstated assumption that once a school is open, it never gets closed.
</p>
<p>Anxiety and frustration and slow process of making things is contributed to by this assumption that once something is made, it should never change or go away.</p>
<p>Rather than fight natural life cycles, we should acknowledge them and move with them.</p>
<p>Why? Because we don’t know how. We often blame the person or declare that this is fundamental, “how things are” but it’s not. That’s how we’ve been taught to deal with it - to avoid it.</p>
<p>What sort of rules and processes are put in place to make sure that once things go away, a better thing is in its place.
</p>
<p>There are life cycles, both natural and imposed. Life cycles are relative to the amount of time that it takes to build a thing. Taking what we know about culture and society and apply that.
</p>
<p>The intention of the project should characterize its making, not the expression of the project (a bridge, an app).</p>
<p>It’s easier to have this attitude when you have an attitude and environment of abundance.
</p>
<p>Any strategy is only as good as its environment: can’t have just-in-time programming if you don’t have an environment that’s reponsive.</p>
<p>At a basic level, people just need to take a position on what is the timeline for revisiting. Poeple make fun of things like policies on policies and committees on committees, but they are necessary sometimses because these can make guidelines to
  create lifecycles for those committees or policies. Like the 18-month policiy on policies from the Consumer Finanical Protection Bureau that stated that if a policy had not been implemented inside of 18 months, then it would be taken off the record.</p>
<p>The default was that it expired, unless you had actually looked at it, and made proactive choices on what
</p>
<p>There is a pride, a sunk cost, and an association with a thing, but that doesn’t mean the thing has to continue to be owned or exercised by us.
</p>

<h3>Sustainability, Sunsetting</h3>
<p>Stuck w/ legacy systems.</p>
<p>How might we plan for change? How will your design be flexible over time? How will your design be sunset?
</p>

<h3>Case Study</h3>
<p>
  <strong>NASA’s space shuttle?
  </strong><br>
  The Discovery space shuttle was used over and over and could be reused.
</p>

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link" href="publicsector.html">&lt; Previous</a>
  </div>
</div>
