<h1>Design Phase Principles</h1>
<h2>Guiding Principles</h2>
<p>When in the Design Phase, keep in mind the following principles. We’ll go through them in more detail in the following sections:</p>
<ol class="usa-list">
  <li>Getting to Simple is Hard
  </li>
  <li>No Solitary Geniuses</li>
  <li>It Takes All Kinds (to Make the World Go ‘Round)</li>
  <li>Consider New Participants</li>
  <li>Value New Participants</li>
  <li>Public Sector Differs from Private Sector</li>
  <li>Public Sector Serves Everyone</li>
  <li>Define Your Audience</li>
  <li>Design is not permanent</li>
</ol>

<h2>What are the things we design in the Government?</h2>
<p>The government does not have a product or product suite that it sells, and it does not package a variety of services to sell at a profit, as private companies do. For this reason, you might be asking yourself, "Well, what designs does the public sector actually need? Why do we need design in the government, anyway?". In fact, the public sector constantly designs products and services. Just because they're not offered for sale does not mean that they don't exist or aren't, in fact "real" products and services. They just function for public service instead of for commercial offerings.
</p>
<p>Traditionally, public sector products and services were designed largely from a policy angle. Policy makers and subject matter experts would look at data and create the products and services they believed were needed. More recently, however, government entities have realized that harnessing the power of design-specific methodologies like Human-Centered Design and specialized design practitioners could be result in more effective and more sustainable product and service solutions.
</p>
<p>So what are some examples of public sector design? Examples of public service product design include drivers' licenses, building permit applications, and interstate signage, while examples of public sector service design include the free school lunch program, the Medicare system, and the National Park System. Each of these examples have roots in laws,
  policies, and initiatives from legislatures, agencies, and other government bodies, but to grow the ideas from their roots into a functional product or service requires a design process — whether conscious, careful, and intentional, or not.
</p>
<p>A big distinction between products and services: sometimes services are single entites, 911 emergency services, but oftentimes, a service is underpinned by many products. As an example, think of the National Park System. One may think of National Parks as just a bunch of open air, but it is in fact a collection of services including wilderness preservation
  services and scientific research opportunities. It is supported by various products, including signage, websites, apps, uniforms, housing, and others. We discuss this further in the <a href= "productsservices.html.erb">Products & Services</a> section.
</p>


<div class="border-top-2px border-base-light margin-y-2">
  <h4 class="guide-references__title">REFERENCES</h4>
  <p>
    <strong>Additional Research Methods</strong><br>
    Other resources for design principles can be found from the following groups and resources:
    <br>

    NYC Civic Service Design<br>
    UK Design Group<br>
    Helsinki Design Group<br>
    Design for Real Life: Eric Meyer & Sara Wachter-Boettcher
  </p>
</div>
<div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-8 margin-bottom-2">
  <a class="usa-button usa-button-outline guide-section-link noprint" href="team.html">Read Next &gt;</a>
</div>
