<h1>Design &amp; Implementation</h1>
<h3>No “hand offs”; no “waterfall”</h3>
<p>When the web was young, the “waterfall” process of development organically developed as a way content-makers and designers could push content to the engineering teams to be put up on the web. The waterfall process of content development is linear:
  one team completes their tasks and passes to another team who completes their tasks and then pushes to another team, and so on, until the final product is realized.
</p>
<p>Broadly, this process was an adaptation of the traditional, factory-like print media workflow from newspapers and magazines. In this process, the Editorial team would write and edit text content, push it to a Design team to lay the text out on a
  page and work in the illustrations and photographs, and then the Design team would push the layouts to the Printers, who would implement the design by setting the printing presses to churn out the final product.
  <p>
    <strong>That was the ideal.</strong>
    In reality, however, these three groups almost always work together in a less-than-linear, collaborative workflow. This was because the rigid nature of the ideal process assumes that no group will ever have questions for the previous or following
    groups. This assumes that each group understands all the needs and constraints of the other groups in the process and will not produce something that is impossible or difficult or even creates questions in a future stage of the product development.
  </p>
  <p>This, however, is impossible. Even in a completely controlled environment where there will never be any changes or revision to content, each group doesn’t know every constraint and need of next group, so they will of course sometimes produce work
    that causes problems or questions for future groups in the process.
  </p>
  <p>Plus, that perfect environment is a fantasy; it does not exist. Changes and revisions happen all the time. In newspapers, this meant that if something happened to change the headlines in the early morning edition, Editorial would rush to write new
    headlines and article text; Design would freak out a little to source a photo and set the text, and the Printers would have to scramble to reframe the entire front page to include this new article. But what happens to the original content? Where does
    it go? The Printers need to know, and they also have ideas ­— after all, they understand the mechanics of the page better than anyone. They need to be able to talk to Design and Editorial quickly in order to make content decisions. The three groups
    absolutely had to work together to get changes made in a way that worked for the newspapers’ readers. And they had to do it fast.
  </p>
  <p>
    <img src="/images/designimplementation-polygon.svg" class="height-card-lg center" alt="Groups almost always work together in a less-than-linear, collaborative workflow.">
  </p>

  <p>So, in traditional print media, the groups had to overlapping work; they had to talk to each other. This is the same in the current design process. Design teams can’t just “hand off” designs to the people who will implmenent them. Whether your
    team is developing print media, a digital product like a website, a real-life object like a kiosk, or a service like a benefits advisory board, working with the people who will implement is crucial to the success of your project. No matter how clear
    you think you’ve been, no matter how top-notch your implementation team is, there will be questions that you need to work out together.
  </p>
  <p>The Design & Implementation phase is analogous to the Communications phase from the HCD Discovery Process: until the Discovery Team effectively communicated their findings to their leadership and partners, the Discovery stage could not be
    considered complete. Until the Design team has effectively worked with the Implementation team to create final testing through a small pilot and to help that team create an implementation plan, their Design work is not done, because the team has not
    set the design(s) they crafted up for success: the designs have simply been carefully, painstakingly crafted and then shoved out into the world without support or thought of sustainability.</p>
  <p>So never plan to just “handoff” your design work and roll off a project; stay in it through the first pilot and help you implementation team develop and test a implementation strategy. Only then will you have set your carefully designed solution
    up for success.</p>
