<h1>Envisioning Design</h1>
<h3>Purpose</h3>
<p>In this section, find out why the Design Phase leans heavily on visual communication, mapping, and building prototypes as part of the iterative process. Through getting out of verbal communication and into making, designers are able to move
  quickly from abstract ideas to prototypical and yet concrete solutions.

  <p>Much of this section was drawn from two of The Lab’s educational courses: Visual Communication for Everyone and Visual Eloquence. Please see the links below for sign up opportunities.

    <h2>Visual Communication</h2>
    <p>Why draw your thoughts? If we have spent a lifetime reading articles and writing text and having verbal conversations, what could be the positive results of literally staring at a drawing board? We have writing skills: why start back at the
      beginning with drawing?
    </p>
    <p>
      <img src="/images/envisioning-orange.png" class="height-card center" alt="Oranges">
    </p>

    <p>In short: because drawing ideas is faster, more clear, and more actionable than writing ideas. Here is an example:<br>
      Neither of these two items are oranges. One is a photograph of an orange, while the other is an illustration of an orange. Although they are different expressions of visual communication, they both communicate the idea of “an orange” quickly and
      clearly. Additionally, these images can show multiple people how to think about an orange in a particular instance.
    </p>
    <p>Instead of saying “I’m thinking of an orange, you know, that brightly colored fruit that comes from warm places and is the state fruit of Florida,” which is a pretty selective description of an orange, one can simply show a photograph or draw a
      relatively poor representation of an orange, and anyone looking at it would know what the speaker is referring to. More expressively, an image of an orange can stand in for abstract concepts like bright, sunny, happy, and delicious, which, as
      concepts with no absolute defition, are much more difficult things to communicate precisely about than the fruit itself.</p>

    <div class="grid-row">
      <div class="grid-col flex-fill guide-blue-box">
        <img src="/images/envisioning-work_and_text.png" class="float-left height-card" alt="Photograph of binders and folders with paper">
        This photograph of binders and folders with paper conveys complex ideas depending on how the photo is interpreted. Is the photograph meant to convey productivity or overwork? Organization or disorganization? Possibilities like this are why telling is
        also an important part of showing: text and images work together; they are not replacements for each other.

      </div>
    </div>

    <p>To communicate through verbally or in written form about concepts of “bright, sunny, and happy”, writers must use a lot of words to communicate. Since words are sequential and subject to rules, they are very good when precise meaning is possible,
      but less effective when multiple meanings are needed to be conveyed simultaneously.
    </p>
    <p>This is not to say that drawing is more precise than words all the time, but that they are more dense. They can convey more ideas in a shorter span of time than words can. For this reason, drawing ideas, especially complex ones, is often more
      efficient than trying to describe them with words. Even if someone is not practiced at drawing, the act of drawing itself allows the descriptive words to become more precise as the team discusses the ideas depicted. This is helpful for getting
      everyone on the same page as well as for starting to explore design ideas.</p>
    <p>Images, however, are not a silver bullet to linguistic challenges, however. Different cultures assign different meanings to shapes, colors, gestural forms, and groupings. For this reason, if the design work is to be shared across languages or
      cultures, some research is required to ensure that the work retains the intended impact across all audiences.
    </p>

    <h2>Context: Show And Tell
    </h2>
    <p>In grade school, many students in the United States engaged in a game called “Show and Tell”. In this exercise, students brought in an object they thought was interesting, show it to the class, and then tell the class something about that object.
    </p>
    <p>One of the purposes of this exercise is to teach students about representational forms: although a student cannot bring the hike in the woods with their parent to class, they can bring the cool rocks they picked up on that hike to class as a
      representation of what they did. By connecting the tangible rocks with the intangible hike, students were able to make generalizable connections about the elements of a hike, where to find rocks, and what future hikes or rocks might be like.
    </p>
    <p>As adults, images function in the same way: the visualization allows for general communication about an experience, substance, process, etc. that cannot be present. For this reason, the old game of show and tell as useful in meetings as it was in
      your grade school’s class.
    </p>

    <h3>Purpose</h3>
    <p>One of the most difficult parts of design is working on the edge of the unknown. The diagrams and tangram analogy are here as guideposts to this process which, by its very definition, will result in the creation of new products and services that
      cannot be described here.
    </p>
    <h3>Checklist</h3>

    <p>
      <span style="font-size: 1em; color: #2e8540;">
        <i class="fas fa-check"></i>
      </span>Ensure that your leadership and teammates are aware that you are actively entering the design phase. Letting them know can be formal or informal, depending on the culture of your workplace.
    </p>
    <p>
      <span style="font-size: 1em; color: #2e8540;">
        <i class="fas fa-check"></i>
      </span>Ensure that each team member has your Insights and Opportunities from the Discovery phase.</p>
    <p>
      <span style="font-size: 1em; color: #2e8540;">
        <i class="fas fa-check"></i>
      </span>Ensure that each team member has a copy of the Design Operations Guide.</p>
    <h3>Strategy</h3>
    <p>
      <strong>Working with Unknown Elements</strong><br>
      Proxies, or stand-ins, can be useful when discusing a system that contains unknown elements, such as your future design product or service.
    </p>

    <p>When talking to your leadership or teammates, you can create a proxy to stand in for your future design. You can do this mathematically, as in, “We’ll call the design we’re going to make X,” or with humor, as in, “we’ll refer to our future design
      object as Squiggle,”. Making a stand in for your design will allow the team to converse around your designed product or service without needing to know exactly what it is. Stand in elements also allo you to map future phases, such as Delivery and
      Measurement.
    </p>

    <h2>Using Tangrams
    </h2>
    <p>Throughout this work, we will use Tangrams as a way to talk about the cycle of ideation and iteration in the design phase. Tangrams are dissection puzzles consisting of seven flat shapes, called tans, which are put together to form shapes.
      Traditionally, a person playing with a tangram puzzle looks at an outline of a shape that has been created by using all seven tans with no overlaps. The player then tries to re-create that outline using their own tangram pieces. When they have
      successfully re-created that outline, they have solved the puzzle. (https://en.wikipedia.org/wiki/Tangram)
    </p>
    <p>
      <img src="/images/envisioning-using_tangrams.svg" alt="Tangrams">
    </p>
    <p>
      <strong>Why Tangrams?</strong>
      Tangrams present the unique benefit of allowing us to connect a concrete object, the tangram puzzle, with the concepts of ideation and iteration. Since a tangram puzzle allows us to create many shapes (new tangram shapes are still being discovered to
      this day), out of the same component parts, they present a useful parallel to your design problem. In your work, you have a need to create something new, but based on the research, insights, and opportunities you identified in the Discovery phase.
      Additionally, like the constraining rules of a the tangram puzzle game, many times your solutions will need to operate inside of or address some strict constraints, themselves.
    </p>
    <h2>Tangram Shapes
    </h2>
    <p>
      <img src="/images/envisioning-tangram_shapes.svg" alt="Tangram shapes">
    </p>
    <p>Above are the seven shapes in each tangram set. Their proportions, or sizes, are based off of a single unit of measure that can be any measurement of distance, such as an inch or a centimeter. Because the proportions are fixed, the scale is
      infinate: You could scale a tangram set up to the size of a building or even a landscape, if you had enough space.</p>

    <div class="border-top-2px border-base-light margin-y-2">
      <h4 class="guide-references__title">REFERENCES & RESOURCES</h4>
      <p>
        <strong>The Lab Education Courses</strong><br>
        Visual Eloquence<br>
        Visual Communications for Everyone<br>
        <a href="https://lab.opm.gov/class-sign-up/">https://lab.opm.gov/class-sign-up/</a>
      </p>
      <p>
        <strong>Scott Mccloud</strong><br>
        “Understanding Comics”<br>
        <a href="http://scottmccloud.com/2-print/1-uc/">http://scottmccloud.com/2-print/1-uc/</a>
      </p>
    </div>

    <div class="grid-row">
      <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
        <a class="usa-button usa-button-outline guide-section-link noprint" href="communicatingideas.html">&lt; Previous</a>
      </div>
      <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
        <a class="usa-button usa-button-outline guide-section-link noprint" href="ideation.html">Next &gt;</a>
      </div>
    </div>
