<h1>Feedback</h1>
<h3>Your work only gets better.</h3>
<p>Feedback is an integral part of the design process and should be sought out when designing anything, be it product or service. In most design organizations, feedback is practiced as a multi-step process during which the design team gradually
  reaches farther and farther outward from the core team in order to gather feedback from an increasingly large pool of participants.
</p>
<p>It is preferable to be able to gather feedback on several of the team’s design iterations. Through feedback, the team is able to understand which design idea might hold up best in real-world conditions and which (they are not always the same ones)
  resonates most with participants. Feedback also allows the team to improve and refine the design iterations, gradually phasing them out as different ideas fail under the feedback reviews.</p>
<p>In this diagram, see the cycle of feedback and revision for a single design solution. In each phase, there are two steps: feedback from an individual or group and revision. In each feedback step, the circle of people the team reaches out to give
  feedback moves farther away from the core team and farther into the field of end particpants. For the second step, design revision, the team revises the design in order to integrate the feedback from the people that have been asked.
</p>
<p>It is important to know that not to say that every piece of feedback from each participant can should be integrated. Be aware of the primary principles of the design phase (and review them if you need to) as well as the principles from your
  problem framing phase.
</p>
<p>Hint: if your design is resonating deeply, people will be excited about its potential, have great ideas for improvements, and really want to see those improvements. Ensure that you compare those suggestions to your original project scope and
  technical ability. If you cannot integrate an improvement into this stage, that’s okay. Communicate to the participant that their feedback is well-placed and important, and that you will note it for another version in the future. Remember:
  <strong>Good ideas have long half-lives.</strong>
</p>

<h2>Feedback & Revision Process Map</h2>
<p>This Feedback and Revision Process is a basic framework for how to seek out and integrate feedback into a product or service you have designed.
</p>
<p>As you and your team accumulate feedback and integrate portions of it into your design, consider the questions alongside the revision rounds. Discuss these questions as a team as you step through the feedback rounds. They will help ensure that
  each change to the design forwards the design towards a better end state and help you guard against making changes for changes sake.
</p>
<p><img src="/images/feedback-process.svg" alt="Feedback & Revision Process Map">
</p>

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="iteration.html">&lt; Previous</a>
  </div>
</div>
