<h1>Glossary</h1>
<h3>3 Es</h3>
<p>Effectiveness, Ease, and Emotion are the 3 core qualities that VE measures across the enterprise. These are based on a Forrester Research Inc. pyramid model of customer experience.</p>
<h3>5 Whys, aka, Laddering</h3>
<p>A method by which an interviewer derives additional detail and undercurrents from an interviewee. Typically characterized by the interviewer asking “why” in regards to a qualified or abstract word or phrase used during the an answer to questions. A common metric is for the interviewer to do this five times in a line of question.</p>
<h3>Accessibility</h3>
<p>The extent to which content is available, understandable, and usable by all audiences, regardless of sensory, physical, cognitive, intellectual, or situational disabilities or impairments.</p>
<h3>Best Practice</h3>
<p>Procedures or approaches that are accepted or prescribed as being correct or most effective.</p>
<h3>Clustering</h3>
<p>A research analysis method characterized by the grouping of words or phrases that have a single or set of commonalities. In Design Research, this is often enacted physically by the assembly of words or phrases written on single pieces of paper into a, proximate group.</p>
<h3>Concept/Context mapping</h3>
<p>An ethnographic research technique, concept/context mapping is a process that tries to understand the environment in which the behavior under study takes place.</p>
<h3>Customer Experience (CX)</h3>
<p>Customer experience (CX) is the product of an interaction between an organization and a customer. This interaction includes a customer’s attraction, awareness, discovery, cultivation, advocacy and purchase and use of a service. It is measured by the individual’s experience against the individual’s expectations.</p>
<h3>ecode</h3>
<p>To understand. To analyze in order to find meaning.</p>
<h3>Design Thinking</h3>
<p>A concern to connect and integrate useful knowledgefrom the arts and sciences alike, but in ways that are suited to the problems and purposes of the present. </p>
<h3>Empathy</h3>
<p>The action of understanding, being aware of, being sensitive to, and vicariously experiencing the feelings, thoughts, and experience of another through a shared experience.</p>
<h3>Ethnographic research</h3>
<p>Ethnographic research tries to understand how people live their lives. Unlike traditional research, who ask specific, highly practical questions, ethnographers may visit homes or offices to observe and listen in a non-directed way. While this observational method may appear inefficient, it enlightens us about the context in which customers see their own environment.</p>
<h3>‘Fail early, fail fast, fail small’</h3>
<p>A Design Research principle expressing the ethos that, through quickly making and testing small, unsuccessful solutions to big problems in quick succession, drawing lessons in terms of what works and does not work from those tests and revising the next solution accordingly, more effective and successful end solutions can be reached than if a single large solution was launched once and without testing.</p>
<h3>Front Stage / Back Stage</h3>
<p>Parts of services that are visible to the service user are called front stage. Part of services not visible to the service user but are interacted with by the service provider are called back stage.</p>
<h3>Guided Tour</h3>
<p>A research methodology during which a participant shows researcher(s) their physical space, collections, or other assets so that the researcher(s) understand the participant’s context and reality through the participant’s point of view.</p>
<h3>How Might We Question</h3>
<p>A “How Might We” (HMW) question serves two purposes. First, it is the frame of inquiry, or the area of research. And second, a HMW question should spur and inspire the research team. A good HMW research question will focus but also leave room for exploration.</p>
<h3>Human-Centered Design</h3>
<p>Human-centered design (HCD) is a design and management framework that develops solutions to problems by involving the human perspective in all steps of the problem-solving process. Human involvement typically takes place in observing the problem within context, brainstorming, conceptualizing, developing, and implementing the solution.</p>

<h3>Ideate</h3>
<p>To form an idea of; imagine or conceive. In Design Thinking, this refers to imagining or conceiving of multiple ideas for solutions to problems, usually in succession and building off each idea.</p>
<h3>nnovation	</h3>
<p>A new idea, method, or device. In Design Thinking, usually characterized by a break from traditional or institutionalized methods, production methods, or products .</p>
<h3>Intercepts</h3>
<p>Intercepts (intercept interviews) are conducted on site with Veterans while they are interacting with services at the research site.</p>
<h3>Internal bias	</h3>
<p>A universal situation in which humans feel or show inclination or prejudice for or against someone or something. In Design Thinking, the inherency of internal bias is accepted, and we correct for these biases is through awareness and acknowledgment of them.</p>
<h3>LEAN (process)</h3>
<p>An approach that focuses on people, process and purpose and the alignment between the three.</p>
<h3>‘No wrong ideas’</h3>
<p>In Design Thinking, the principle that, in order to forward innovative thinking, the group or individual performing the thinking session must accept and consider all ideas as possible solutions.</p>
<h3>Pain Points</h3>
<p>In experience design, pain points are real or perceived problems experienced by customers within a system.</p>
<h3>Problem frames	</h3>
<p>The area of research in regards to a particular problem.
<h3>Qualitative research	</h3>
<p>Primarily exploratory research. It is used to gain an understanding of underlying reasons, opinions, and motivations. It provides insights into the problem or helps to develop ideas or hypotheses for potential quantitative research.</p>
<h3>Root cause</h3>
<p>The fundamental reason for the occurrence of a problem.
<h3>Shadowing	</h3>
<p>A research methodology during which the researcher follows the participant through the participant’s activities. These activities show the researcher the participant’s physical context as well as their interaction within that context.</p>
<h3>Sensemaking	</h3>
<p>To make sense of; to understand.</p>
<h3>Snapshots	</h3>
<p>A representative sample of research. In design-oriented presentations, this refers to a collection of photographs, quotations, and synthesized research that is formatted to tell the story of the research endeavor.</p>
<h3>Stakeholders	</h3>
<p>Persons, groups or organizations that have direct or indirect stake in an organization because it can affect or be affected by the organization’s actions, objectives and policies.</p>
<h3>Sympathy 	</h3>
<p>The action of understanding, being aware of, being sensitive to, and vicariously experiencing the feelings, thoughts, and experience of thorough emotional and intellectual understanding of another’s experience. Contrasts with empathy in that it does not include a shared experience.</p>
<h3>Synthesis/synthesizing	</h3>
<p>To combine (a number of things) into a coherent whole. In Design Thinking, this refers to the collection and integration of the substance of the research instances into a logical and meaningful collection.</p>
<h3>Touchpoints	</h3>
<p>Any point of contact between a customer and a service or service provider. This could be the design of a receipt, the comfort of a waiting room or the usability of a web page.</p>
<h3>Yes, And</h3>
<p>In Design Thinking, the logical opposition to the statement, “No, But...” Meant to set up acceptance and integration, this form of reply to statements can allow for expansive conversation instead of a negation of opinions and options.</p>
