<h1 class="guide-section__title">Human-Centered Design</h1>
<h2>What is HCD?</h2>
<p>Human-Centered Design (HCD) is a problem-solving framework that helps make systems and products more responsive to the people, or participants, who use those systems and products. It requires rigorous qualitative research, directing that research towards the goal of deeply understanding the needs, insights, and emotions of customers. By using Human-Centered Design, we can focus our time, resources, and energy on solutions and innovations that make service delivery effective, easy, and in tune with the emotions of our participants.</p>
<p>HCD involves four phases of sequential work: discovery, design, delivery, and measurement. HCD is also cyclical. Once a design solution is launched, we measure its effectiveness against initial and intended aims, and then we continually tweak it, thus improving the solution over time. HCD recognizes that people and their needs are dynamic and changing and so our solutions must be dynamic and changing.
  <p>
    <img src="/images/HCD-bubble_diagram01.svg" alt="HCD phases">
  </p>
  <p>HCD allows us to understand the types of experiences participants want from a system, product or service. We refer to the customers’ desired experience as the “front stage” of the design effort. HCD also helps us craft the processes that create
    those desired experiences. We refer to this behind-the-scenes work as “the back stage” of the design effort. By tending to the front stage and the back stage, HCD allows us to put the customer at the center of our design development.</p>

  <p>The HCD approach has already created immense value in advancing public sector missions. For example, redesigning USAJOBS, the hub for federal hiring where nearly 1 billion job searches are done annually by over 180 million people, has resulted in a 30% reduction in help desk tickets after the first round of improvements. Not only does this reflect an easier experience for those involved in the hiring process, this change also creates savings in support costs.</p>

  <p>
    <img src="/images/HCD-bubble_diagram02.svg" alt="HCD process">
  </p>

  <h2>HCD Process</h2>
  <p>HCD is a cyclical process that moves between divergent and convergent modes of thinking. Each phase has its cyle: in Discovery, a team diverges through desk research, then converges on a problem frame, and the diverges again when listening to the points of view of the participants. </p>
  <p> In the Design phase, idea generation, or ideation, requires divergent thinking, then convergence around a few viable options to prototype and test. </p>
  <p>Delivery includes divergence around modes of delivery and collaboration with implementation teams, then convergence around an workable model. </p>
  <p>And finally, the Measurement phase also requires divergent creativity as the team and collaborators considers what and when to measure, how to collect it, and how to parse that data, the convergence around a plan. At each stage, the team is aware that a return to a previous stage might be necessary.</p>
  <p>This process is not strictly linear, progressing from one stage to another; it is subject to informed and intentional revision at all points.
  </p>
  <p>By using HCD in our work to improve agency services, we can identify innovations or solutions that are desirable, feasible, and viable. Then we design the solution, launch it, and measure its effectiveness against our initial
    goals. If the solution falls short of those goals, we make revisions based on further feedback from users and test it again. Such dynamism is inherent to the HCD process. HCD solutions are designed to be dynamic and changing because the people and situations for whom we are designing will themselves be dymnamic and subject to change over time.
  </p>
  <h2>HCD Phases: A Breakdown</h2>
  <h3>Discovery</h3>
  <p><img class= "bubbles_right" src="images/bubbles-discovery-01.svg">The first Human-Centered Design Guides in this series focused on the Discovery phase. You should have completed or be near completing your Discovery as you pick up this Design Phase Field Guide. In Discovery, you built a problem frame, observed situations and listened to participants and stakeholders.</p>


<h3>Design</h3>
<p><img class= "bubbles_left" src="images/bubbles-design-01.svg">With your insights gathered and opportunities defined, you enter the Design phase. In this phase, you start building prototypes and working through design ideas. You won't try to perfect these too soon. Instead, you will prioritize iteration, testing, and making incremental refinements. Build, test and repeat.
</p>

  <h3>Deliver</h3>
  <p><img class= "bubbles_right" src="images/bubbles-deliver-01.svg">After prototyping and testing, you will work with implementation teams and other stakeholders to create a small pilot and test the logistical needs around the luanch of your design work.</p>

  <h3>Measure</h3>
  <p class= "center_text"><img class= "bubbles_left" src="images/bubbles-measure-01.svg">In the Measure phase, you gather quantitative and qualitative data to learn if the goals and expectations of your work are being met. When applied, this data will help improve your design.</p>

  <div class="grid-row">
    <div class="grid-col flex-fill guide-blue-box">
      <p>
        <strong>Desirability Lens</strong>
      </p>

      <div>
      <img src="/images/HCD-desirability_lens.svg" class="float-left height-card" alt="Desirability lens">

      <p>The Desirability Lens from design consultancy IDEO illustrates that Human-Centered Design should focus at the intersection between of what customers want (DESIRABLE), what is possible with current means (FEASIBLE), and what can work within constraints (VIABLE).</p>
      </div>

    </div>
  </div>

  <h2>Working with HCD</h2>
  <h3>Purpose</h3>
  <p>This section provides a brief conceptual background for Human-Centered Design (HCD). While not exhaustive, this summary explains that HCD is a rigorous social science methodology used by groups in the public and private sectors in order to understand
    complex, interrelated problems for the purpose of crafting dynamic solutions.</p>
  <h3>Checklist</h3>
  <p>
    <span style="font-size: 1em; color: #2e8540;">
      <i class="fas fa-check"></i>
    </span>Review the HCD Discovery Guide.</p>
  <p>
    <span style="font-size: 1em;color: #2e8540;">
      <i class="fas fa-check"></i>
    </span>
    Ensure your team and leadership is aware that your team is using HCD.</p>
  <p>
    <span style="font-size: 1em;color: #2e8540;">
      <i class="fas fa-check"></i>
    </span>Review any other references you may have read in the past that seem applicable to this project.
  </p>
  <p>
    <span style="font-size: 1em;color: #2e8540;">
      <i class="fas fa-check"></i>
    </span>Review and take stock of past efforts that are relevant to your current project. What previous work has been done in this area? Can you measure the effectiveness or validity of these past efforts? If you find previous work to be effective and
    valid, how will you integrate those findings into your current project?
  </p>

  <h3>Basics of the HCD Approach</h3>
  <p>Human-Centered Design is grounded in empathy and understanding. It always begins with observation and research. We hear from people in their own words for the purpose of gaining an understanding of what they want, expect, and need from a system, product, or experience.</p>
  <h3>HCD and LEAN</h3>
  <div>
  <p>
    <img class= "guide-blue-box-illustration" src="/images/HCD-lean.svg" alt="HCD and Lean">
  </p>
</div>
  <p>HCD and LEAN complement each other. Both build solutions based on a mixture of qualitative and quantitative data. HCD largely draws from qualitative data in the building of these solutions, while LEAN depends heavily on quantitative data in solution-creation. Both methods rely on the ideas and actions of Ease and Effectiveness, two components of exceptional service delivery. Easily quantifiable, LEAN integrates these attributes easily. Emotion, the third attribute of exceptional service delivery, requires more qualitative data collection to understand. Participants' emotions towards a product or service are not easily captured in a survey or evaluation. For this reason, HCD's qualitative data-based approach to solution-finding complements LEAN's quantitative data-based approach.

  <div class="guide-gray-box">
    <p class="text-italic">
        “What people say, and what people do, and what people say they do are entirely different things.”
         — Dr. Margaret Mead, Anthropologist</p>
  </div>

  <p>Human-Centered Design and other qualitative research methodologies investigate and help sort out the root causes of conflicts like the one above by Dr. Margaret Mead. LEAN and other quantitative methodologies allow for the understanding of current system states and the rational correction of mechanical and nonhuman inefficiencies in systems.</p>

  <p>
  An additional nuance: quantitative data is, by definition, historical and evaluative: in order to be collected, the actions and events quantified in this data has to have already occurred. The data is a record of what has happened in the system that exists. For this reason, LEAN-generated solutions reflect the systems that already exist. Qualitative data, by contrast, is not bound by historical events. By including participants' and stakeholders' hopes, impressions, and, yes, emotions, as data, solutions generated by qualitative data-based research approaches can imagine wholly new systems from that which already exist. These solutions can support incremental <i>or</i> radical change, depending on the needs and desires of the participants and stakeholders. </p>

  <p>For a more detailed understanding and case studies regarding how HCD and LEAN might work together, please reference The Lab's talks on <a href= "https://vimeo.com/234755369">HCD + Lean</a> and <a href= "https://vimeo.com/234730803">Qualitative + Quantitative</a> research and Arup and the Rockefeller Foundation's <a href="https://www.arup.com/perspectives/publications/research/section/city-resilience-index">City Resilience Index.</a></p>


  <div class="border-top-2px border-base-light margin-y-2">
    <h4 class="guide-references__title">REFERENCES</h4>
  </div>
  <p>
    <strong>Additional Research Methods</strong><br>
    Additional social science research methods abound; all drive towards finding the truth of situations or the core causes of problems. You can find more on social science research methods via:
    <a href="https://iriss.stanford.edu/">https://iriss.stanford.edu/</a>
  </p>
