<h1>Ideation</h1>
<h3>Ideation Eloquence</h3>
<p>Generally, the word “eloquence” is defined in terms of language. To be eloquent is to have the ability to use language, both written and spoken, with fluency, and to be able to deploy this ability to transfer knowledge, create understanding, and /
  or persuade others.
</p>
<p>In design, however, teams often find themselves in need of describing insights that are nuanced, systems that are complex, and products or services that do not yet exist. In these situations, words sometimes “fail us”; one can’t quite figure how
  how to say what needs to be said. The sequential and rules-based nature of verbal and written language creates immediate heirarchies, while the avialability of words and phrases to describe familiar ideas means that unfamiliar or perhaps partially
  formed ideas get second place simply because designers do not have the words to express them.</p>
<p>For these reasons, designers often draw on forms of communication alternative to spoken and written forms. These channels include creating and / or collecting drawings, images, sounds, and gestures in order to acheive four primary goals:
  <br>
  <ul class="usa-list">
    <li>To
      <strong>explore</strong>
      nuances in a proposal, system, or idea</li>
    <li>To
      <strong>understand</strong>
      those nuances</li>
    <li>To
      <strong>clarify</strong>
      those nuances, especially if they act within a complex system</li>
    <li>To
      <strong>communicate</strong>
      the steps above to others who may or may not be present</li>
  </ul>
  <p>Important to note: this is not a rigid sequence of steps, but is instead a collection of goals that using linguistic alternates can allow teams and designers to acheive. At times, teams simply need to make a drawing or put together images or
    sounds so that they, either as individuals or as a team, can understand what they are working on.
  </p>

  <h2>Elements of Ideation</h2>
  <p>Drawing on the earlier metaphor of tangrams, think of these elements of design elequence: Explore, Understand, Clarify, Communicate, as shapes created by four completed tangram puzzles.
  </p>

  <p>
    <img src="/images/ideation-elements.svg" alt="Elements of Ideation: Explore, Understand, Clarify, and Communicate">
  </p>

  <h2>Visualizing Ideation</h2>
  <p>
    <img src="/images/ideation-idea1.svg" class="height-card" alt="Visualizing Ideation Idea 1">
  </p>
  <p>Sometimes teams find themselves with a particularly complex system or idea to show.
  </p>
  <p>
    <img src="/images/ideation-idea2.svg" class="height-card" alt="Visualizing Ideation Idea 2">
  </p>
  <p>Here are the four separate tangram puzzles from the Elements of Ideation section stacked on top of each other in different orders. These stacks show how, in attempting to express ideas, teams often simply combine different research elements,
    approaches, solutions, and values in a big, unwieldy stack in order to build a model of an idea. The benefit to working this way is that (a) the team is working on paper; these models have no real function except as a means by which to work through
    ideas and (b) these models can show the different facets, complexities, and points of interference that existing processes and solutions might have.
  </p>
  <p>
    <img src="/images/ideation-idea3.svg" class="height-card" alt="Visualizing Ideation Idea 3">
  </p>
  <p>Although the rules of using tangram puzzles have been violated in this example, the combination of puzzles allows for more complex shapes. As we will see in the next section, designers often combine different elements from their research and
    existing products and services in new or expected ways to explore, understand, clarify, and communicate their ideas.
  </p>
  <p>
    <img src="/images/ideation-idea4.svg" class="height-card" alt="Visualizing Ideation Idea 4">
  </p>
  <p>The complexity of these shapes is not a desired final state of a design phase. These composite shapes are a way to show all that is happening in an idea, not forms for design solutions themselves. As was said in the Principles section, getting to
    simple is hard.</p>

  <h3>Case Study</h3>
  <h4>USAJOBS Mission Critical Hiring Paths Diagram</h4>
  <p>
    <a href="/images/ideation-usajobs_mco.pdf">
      <img src="/images/ideation-usajobs_mco.png" alt="USAJOBS Mission Critical Hiring Paths Diagram">Click to enlarge</a>
  </p>

  <p>This diagram shows the hiring path of various mission critical positions in the federal government. As part of the USA Jobs redesign, this digram displays the idea of hiring for these important positions.
  </p>
  <p>A simple glance can show a reader that this is an incredibly complex problem involving multiple groups and a systems. Through building this illustrative stack of the components of the hiring path: people, systems, and stages, the USA Jobs team at
    The Lab was able to not come up with a solution for hiring, but instead show the system and its possible throughlines in a global manner.
  </p>
  <h3>Diagrams</h3>
  <p>Diagrams like this one are a common application of drawing and visual communication in government. They can be used to give form to items that, in reality, don’t have a physical, tangible form, such as this Hiring Paths process or the
    organizational chart of an office.
  </p>

  <div class="grid-row">
    <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="envisioning.html">&lt; Previous</a>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="iteration.html">Next &gt;</a>
    </div>
  </div>
