<article id="edit" class="sectionMove hidden">
  <header>
    <div class="header-content">
      <h1><strong>HCD Design Phase Guide</strong></h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <div id="editModules"></div>
    <div id="editURL"></div>
  </section>
</article>

<article id="welcome">
  <header>
    <div class="header-content">
      <h1>HCD<strong> Design Phase</strong> Guide</h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>

<main>
  <section>
    <h1><strong>Purpose of this Guide</strong></h1>
      <div class= "article-body">The purpose of this Design Guide and its sister Design Ops is not to make an exhaustive list of design processes. There are many other works can do that for you, some of which you can find in the Afterward of this book. It is, instead to provide you context and some select methods for creating designed objects and processes. Beyond the methods, however, we hope you will focus on context and learning the Why behind the How. If you learn the Why, you will be able to cross-apply the contents of these Guides to other situations in your work and life, hopefully expanding your understanding of complex problems and eventually contributing back to this work with orignal methods of your own making. That, in fact, would be our greatest measure of success: for you to take what you have learned here, and then create original work from your learnings.
      Throughout this work, we will refer to the people for whom we’re designing as participants. Not users; not customers. Because the people for whom we’re designing are participating in our system and with our objects. They are active. Users and customers receive things and services; this creates either a supplicant (please give me the thing or service) or entitled (I deserve the thing or service without reservation and in the exact way I want it) orientation. Participants are equal to ourselves. Both designers and people for whom the designed product(s) and service(s) are made are participating in this process. Participation indicates relationship, and we are in relationships with our products, services, and everyone who uses them.
      Public sector workers design both objects and services. Many times, a service is supported by an object, such as a form, booth, electronic device, or other tool, or even multiple objects of the same or different types. For this reason, in this book we will follow the design of Product, an object, and the Service, a service in which Product is used.</div>
    <h1><strong>Introduction</strong></h1>
    <p><h2>What is HCD?</h2>
      <div class= "article-body">Human-Centered Design (HCD) is a problem-solving framework that helps make systems and products more responsive to the people, or the customers, who use those systems and products. It requires rigorous qualitative research, directing that research towards the goal of deeply understanding the needs, insights, and emotions of customers. By using Human-Centered Design, we can focus our time, resources, and energy on solutions and innovations that make service delivery effective, easy, and in tune with the emotions of our customers.

      HCD involves four phases of sequential work: discovery, design, delivery, and measurement. HCD is also cyclical. Once a design solution is launched, we measure its effectiveness against initial and intended aims, and then we continually tweak it, thus improving the solution over time. HCD recognizes that people and their needs are dynamic and changing and so our solutions are dynamic and changing.</div>
    <img class="image-wall-to-wall" img src="images/HCD_Bubble_diagram.svg" alt="Diagram of HCD process. It starts with Discovery phase, which includes Research, Synthesize, and Define phases. Then continues to Design phase, which includes Ideate, Prototype, and Test phases. Then proceeds to Deliver phase, which includes Refine, Build, and Implement phases. Next and final phase is the Measure phase, which includes Feedback, Analyze, and Improve phases. Arrows from left to right link each phase. Additionally, arrows loop back between Measure and Design phases to express that, when a team has completed measurement, often they must go back and redesign. Another arrow loops between the Measure and the Deliver phases, indicating that there is a small, iterative loop inherent to these two phases. Meaning, these phases are not consecutive, but instead largely cyclical."/>
    <p><h3>Diagram of HCD process</h3></p>
    <p><h2>HCD Process</h2></p>
    <div class="article-body"> HCD is a cyclical process that moves from the discovery phase, through a detailed design phase, flows into the deliver phase for evaluation and iteration before finally entering the measurement phase. It begins with empathetic or sympathetic engagement and research. We hear from people in their own words, so we may gain an understanding of what they want and need from the agency.
    By using HCD in our work to improve agency services for our customers, we can identify innovations or solutions that are desirable, feasible, and viable. Then, we design the solution, launch it, and measure its effectiveness against our initial goals. If the solution falls short of those goals, we make revisions based on further feedback from users and test it again. This dynamism is inherent to the HCD process. HCD solutions are for people and situations who are dynamic and changing, so the solutions are also dynamic and changing.</div>

    <p><h3>Discovery</h3></p>
    <img class="inset-left" img src="images/bubbles-discovery-01.svg" alt="Diagram of HCD Discovery phase, which includes Research, Synthesize, and Define phases."/>
    <p="inset-right">The first Human-Centered Design Guides in this series focused on the Discovery phase. You should have completed or be near completing your Discovery as you pick up this part of the series. In Discovery, you built a problem frame, observed situations and listened to users and stakeholders.</p>

    <p><h3>Design</h3></p>
    <p class="inset-left">With your insights gathered and opportunities defined, you’re entering the Design phase. In this phase, you will start to build prototypes and work through design ideas. You won’t try to perfect these too soon. Instead, you will prioritize iteration, testing with customers, and making incremental refinements. Build, test and repeat.</p>
    <img class="inset-right" img src="images/bubbles-design-01.svg" alt="Diagram of HCD Design phase, which includes the Ideate, Prototype, and Test phases" />
  </section>
  <section>
    <article>
      <img src="images/tangram parts-01_v2-01.svg" alt="Hello" />
      <h3 class="article-title">Principles of the Design Phase</h3>
    </article>
    <article>
      <img src="images/tangram parts-02_v2-01.svg" alt=" " />
      <h3 class="article-title">
        Products & Services
      </h3>
    </article>
    <article>
      <img src="images/tangram parts-03_v2.svg" alt=" " />
      <h3 class="article-title">
        Envisioning Design
      </h3>
    </article>
    <article>
      <img src="images/tangram parts-04_v2.svg" alt=" " />
      <h3 class="article-title">
        Organizational Maturity
      </h3>
    </article>
    <article>
      <img src="images/tangram parts-05_v2-01.svg" alt=" " />
      <h3 class="article-title">
        Design + Digital Development
      </h3>
    </article>
    <article>
      <img src="images/tangram parts-06_v2-01.svg" alt=" " />
      <h3 class="article-title">
        Glossary
      </h3>
    </article>
  </section>
</main>
