<h1>Welcome to the Design Phase!</h1>
<p>
  You've completed your Discovery and are ready to create action from what you know. That means entering the Design Phase. Use this Concept Guide to help you understand the Why behind the design process. You'll be able to find the How in the upcoming
  HCD Design Phase Operations Guide. For guidance on How in the meantime, see the Design Methods developed by our friends over at 18F.</p>
<div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-8 margin-bottom-2">
  <a class="usa-button guide-section-link noprint" href="purpose.html">Get started</a>
</div>
