<section><h1>Purpose of this Guide</h1>
  <p class="col">The purpose of this Design Guide and its sister Design Ops is not to make an exhaustive list of design processes. There are many other works can do that for you, some of which you can find in the Afterward of this book. It is, instead to provide you context and some select methods for creating designed objects and processes. Beyond the methods, however, we hope you will focus on context and learning the Why behind the How. If you learn the Why, you will be able to cross-apply the contents of these Guides to other situations in your work and life, hopefully expanding your understanding of complex problems and eventually contributing back to this work with orignal methods of your own making. That, in fact, would be our greatest measure of success: for you to take what you have learned here, and then create original work from your learnings.
Throughout this work, we will refer to the people for whom we’re designing as participants. Not users; not customers. Because the people for whom we’re designing are participating in our system and with our objects. They are active. Users and customers receive things and services; this creates either a supplicant (please give me the thing or service) or entitled (I deserve the thing or service without reservation and in the exact way I want it) orientation. Participants are equal to ourselves. Both designers and people for whom the designed product(s) and service(s) are made are participating in this process. Participation indicates relationship, and we are in relationships with our products, services, and everyone who uses them.
Public sector workers design both objects and services. Many times, a service is supported by an object, such as a form, booth, electronic device, or other tool, or even multiple objects of the same or different types. For this reason, in this book we will follow the design of Product, an object, and the Service, a service in which Product is used.</p>
</section>
<section class="cards">
  <article>
    <img class="article-img" img src="images/tangram-parts-01.svg" alt=" " />
    <h3 class="article-title">
      Introduction
    </h3>
  </article>
  <article>
    <img class="article-img" img src="images/tangram-parts-02.svg" alt=" " />
    <h3 class="article-title">
      Principles of the Design Phase
    </h3>
  </article>
  <article>
    <img class="article-img" img src="images/tangram-parts-03.svg" alt=" " />
    <h3 class="article-title">
      Products & Services
    </h3>
  </article>
  <article>
    <img class="article-img" src="images/tangram-parts-04.svg" alt=" " />
    <h3 class="article-title">
      Envisioning Design
    </h3>
  </article>
  <article>
    <img class="article-img" src="http://placekitten.com/280/250" alt=" " />
    <h3 class="article-title">
      Organizational Maturity
    </h3>
  </article>
  <article>
    <img class="article-img" src="http://placekitten.com/430/240" alt=" " />
    <h3 class="article-title">
      Glossary
    </h3>
  </article>
</section>
