<h1>Iteration</h1>
<h3>Everyone iterates.</h3>
<p>Iteration refers to making a series of design versions. This is a classic design practice; its purpose is to push the designers to examine their research and resouces closely in order to find as many design outcomes as possible.
</p>
<p>Most professional workers iterate constantly: they just do it in the context of emails instead of design forms. As a test, think back to the last time you wrote an email in which you really had to think about what you wanted to say. You tried out
  wording, erased it, moved things around, tried something else, and on and on until you thought you had expressed what you wanted to say. Then you sent it.</p>
<p>All those different email versions were iterations of the email. They were the final email’s form;they weren’t even the second or the third. They were however many versions you had to go through in order to feel like you had expressed youself
  clearly.
</p>
<h3>Turning Insights & Opportunities into Design Iterations</h3>
<p>This is an ilustration of the process of turning Insights into Opportunities.* Here, the illustration is further developed by using tangrams to show how each opportunity can be developed into multiple iterations.
</p>
<p>
  <img src="/images/iteration-opps_to_design.svg" alt="Process of turning Insights into Opportunities">
  <p class="guide-footnotes">*Previous stages in this process are available in the Human-Centered Design Discovery Stage Guides.
  </p>
</p>

<p>These tangrams are the stand-ins for iterative design ideas. Each comprised of the same parts, and each representative of the same field of opportunity, they take on similar, but not identical, shapes.
</p>

<p>If these tangram puzzles were actual design solutions, they would reflect the similarities of their orgins, and yet the processs of iterating on ideas. Sometimes, this process can seem daunting or even pointless, but, as in the Synthesis portion
  of the Discovery phase, you will find that the more you and your team work with the ideas for design, the more possibilities you will see.
</p>
<p>
  <img src="/images/iteration-tangram1.svg" class="height-15" alt="Tangram puzzles">
</p>
<p>Looking at your options once will almost never produce the best solution. That is akin to walking into a supermarket and buying the first apply you see because it’s an apple and you need an apple. You don’t do that. You examine several apples,
  considering their size, sweetness, and defects in the light of what you need.
</p>
<p>
  <img src="/images/iteration-tangram2.svg" class="height-15" alt="Tangram puzzles">
</p>
<p>This is the same with design solutions. You work with many of them so that you can arrive at a selection that is best suited to the needs of your participants.
  <p>
    <img src="/images/iteration-tangram3.svg" class="height-15" alt="Tangram puzzles">
  </p>
  <p>Your iterations are related to each other, but they are not identical. Instead, they build on one another.
  </p>

  <p>
    <img src="/images/iteration-iterative_loops.svg" alt="Iterative Process">
    <p class="guide-footnotes">An illustration of the iterative process. Each iteration is related to eachother and can build on the previous round.
    </p>
  </p>

  <div class="grid-row">
    <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="ideation.html">&lt; Previous</a>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="feedback.html">Next &gt;</a>
    </div>
  </div>
