<h1>Design Maturity Model</h1>
<h2>Six Principles for organizations</h2>
<h3>Purpose</h3>
<p>This section draws from the work of <a href= "https://www.uie.com/">Jared Stool</a> and <a href= "https://www.thisishcd.com/episodes/20-marc-stickdorn-embedding-service-design-into-organisations/">Marc Stickdorn</a>. These principles are applied in the multi-year overhaul of the USA Jobs and USA Hiring
  sites.
</p>

<p>These principles’ distillation respresents the point at which the project had to move from the explict, daily collaboration between The Lab team and the hiring partners to a more implementation-based team.
</p>

<h3>Shared Vision</h3>
<p>Continously imagine the experience of using our awesome product or service be like 5 years from the current point.</p>
<h3>Immersive Exposure</h3>
<p>Define the experience we’re currently delivering to our customers and users through embracing regular exposure to participants. (A good rule of thumb is 2 hours every 8 weeks for all teams members.)</p>
<p>Learn from mistakes. Good judgment comes from experience and experience comes from bad judgments.</p>
<h3>Continual Learning</h3>
<p>What does our organization need to learn to deliver great products and services in the future?<br>
  Keep refining what we think we know.<br>
  What do we know about our users?
  <br>
  What do we know about our products and services?
  <br>
  What do we know about the users’ unsolved problems and challenges?</p>

<h3>Customer Experience (CX) tied to personal performance</h3>
<p>Are we measuring the customer (user) experience and how is that tied to personnel performance? Measure outcomes across organizational groups (Program Offices).
</p>
<h3>Prototypes over PowerPoints
</h3>
<p>Does the organization value prototypes? If it took you a week to prepare a presentation why didn’t you invest that week demonstrating that your idea could really work?</p>
<h3>Qualitative & Quantitative research across the organization
</h3>
<p>Does the organization collect and trust Qual & Quant with equal measure?
</p>

<div class="grid-row">
  <div class="grid-col flex-fill guide-gray-box">
    <p class="text-italic">
      <i>“Keeping users at the center of the discussion is essential for becoming design-infused. If everyone, including the most distant of influencers, are involved in those discussions, it’s hard to avoid making a better user experience.” — Jared Spool</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col flex-fill guide-gray-box">
      <p class="text-italic">
        “Everything works well in PowerPoint land.” — Mark Stickdorn</p>
    </div>
  </div>
</div>
