<h1>Participants</h1>
<h2>Consider potential change</h2>
<h3>In stakeholders, in workflow
</h3>
<p>The design process strives to include all possible stakeholders in the Discovery phase. The thinking is that, if teams talk to all the people involved in touching a product or making a system function, and design for and with all those people,
  then the solution will serve the needs of all those people.
</p>
<p>Many times, this is largely true. However, as one moves through the design phase, teams need to evaluate how the proposed solution might change the workflow or burden on any of these groups. Teams can do this through talking to the groups as the
  process goes on, testing with them, and listening to anxieties about being expected to do more or being cut out of what they see as key to their work.
</p>

<h2>Value new participants</h2>
<p><strong>And design for the newest-newbies</strong><br>
  New participants are perhaps the most difficult people to design for. How can a team anticipate all their needs? How can testing ensure that the product or service is lean enough to navigate though quickly but dense enough to provide all the
  information a new person might need?
</p>
<p>One answer to this is through rigorous testing with a variety of participants, new and experienced. Although new potential participants might be difficult to find, it is crucial that they are consulted during the design phase so as to avoid creating a product that
  speaks only to the experienced.
</p>
<h3>Case Study</h3>
<p>
  <strong>USAJOBS</strong><br>
  The USA Jobs website is well-known to many federal employees. Through this jobs application portal, one can find a position that fits with a desired career path, background, employment preference, and General Services level. In the past, this site
  has been run by the federal goverment as well as by private entities, but without exception, it has always been a dismal experience.
</p>
<p>Navigating the site required a participant to understand multiple points about their employment opportunities that they might only have if they had already had experience with federal employment. Even if an applicant did have previous
  understanding of the federal hiring system, the site’s structure made it almost impossible to understand if they had successfully applied for a job or not. Applicants had no visibility into where their application was in the hiring process. And,
  unless someone explictly reached out to them, they had no way of knowing whether their application was still moving through the system or if they had been dropped from consideration.
</p>
<p>These pain points have been considered during the massive redesign of the site from 2015-2018. Although still reflective of a maddeningly byzantine hiring path, both applicants and hiring managers now interact with a more modern, less occluded
  system. This change was made possible by constant testing with new and experienced participants as changes were proposed and built. No feature of this site shipped without hearing from participants about their experience with it. This sort of large-scale
  change is possible only through a long-term commitment to change that is paired with a constant return to focus on the participants themselvs.
</p>

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="team.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="publicsector.html">Next &gt;</a>
  </div>
</div>
