<h1>Products &amp; Services</h1>
<h2>Products vs. Services</h2>
<h3>Purpose</h3>
<p>This section provides a broad outline of the ways in which products and services differ. It also highlights a few of the points at which they are dependent upon each other and where and how the two might intertwine.
</p>

<h3>Checklist</h3>
<p>
  <span style="font-size: 1em; color: #2e8540;">
    <i class="fas fa-check"></i>
  </span>
  As you read through this section, consider your project through the lens of product versus service. Do some of your Opportunities definitely speak to being expressed as a product or a service? Might some of their possible designed outcomes be both?
  Is it still unclear for some?
</p>
<p>
  <span style="font-size: 1em; color: #2e8540;">
    <i class="fas fa-check"></i>
  </span>
  After you have read through this section, locate your Opportunties along the spectrum of products and services discussed here. If some of your Opportunities do not seem to fall clearly on this spectrum, look to the Design Operations Guide for
  direction on how you might break those Opportunites down further.</p>

<p><img src="/images/productsservices-diagram.svg"></p>

<h3>Products</h3>
<p>Products are defined by economists as made, or manufactured, objects, typically created in a factory setting. They tend to be single-instance interactions between buyer and seller. Even if you go to a coffee shop and buy a coffee every day, each
  purchase of that coffee is a new event; the coffee is the product, while the coffee shop is providing the service of selling coffee. You buy and consume new coffee everyday, but the service of providing that new coffee, the touchpoints, the culture,
  and the community of the coffee shop, is ongoing and intangible.
</p>
<p>
  Definition of manufacturing. Economist Magazine.
  <a href="https://www.economist.com/economics-a-to-z/u#node-21529393">https://www.economist.com/economics-a-to-z/u#node-21529393</a>
</p>

<h3>Services</h3>
<p>According to economists, services are items that are not manufactured and are typically delivered on-demand. In the words of the Economist magazine, Services are “Products of economic activity that you can’t drop on your foot”. They tend to be
  ongoing, or things you return to again and again, unlike the single-instance events that characterize products. In addition to the coffee shop example, other examples of common services include educational services, tax preparation services, and
  insurance services.</p>
<p>Definition of Service. Economist Magazine.
  <a href="https://www.economist.com/economics-a-to-z/u#node-21529393">https://www.economist.com/economics-a-to-z/u#node-21529393</a>
</p>

<div class="grid-row">
  <div class="grid-col flex-auto guide-gray-box">
    <p>
      <i>“One way to think of [products and services] is from the clients’ point of view. When a client asks “what can you make for me?” they are asking about products; when a client asks “what can you do for me?” they are asking about services. While a
        product is something that can be measured and counted, a service is less concrete and is the result of the application of skills and expertise towards an identified need.”
      </i><br>
      - National Archives
    </p>
  </div>
</div>

<h2>Products-Service Spectrum</h2>

<h3>Tangible Products</h3>
<p><img src="/images/products-spectrum01.svg" class="height-15" alt="Tangible Products"></p>
<p>Like a coffee or a tv.
  <br>
  <b>Government example:</b>
  drivers licenses.</p>

<h3>Digital Products
</h3>
<p><img src="/images/products-spectrum02.svg" class="height-15" alt="Digital Products"></p>
<p>Like Microsoft Word.
  <br>
  <b>Government examples:</b>
  digital photos of animals from the Smithsonian Natural History Museum. The digital archiving system from the National Archives.</p>

<h3>Products that set constraints around services
</h3>
<p><img src="/images/products-spectrum03.svg" class="height-card-lg" alt="Products that set constraints around services"></p>
<p>Like insurance.<br>
  <b>Government examples:</b>
  the classifications of driver’s licenses...a CDL driver has the license to pilot a vehicle over a certain number of axles or a certain weight; a class C license limits the driver to smaller vehicles.</p>

<h3>Products that give access to services
</h3>
<p><img src="/images/products-spectrum04.svg" class="height-card-lg" alt="Products that give access to services"></p>
<p>Like video streaming services.<br>
  <b>Government examples:</b>
  NYC311</p>

<h3>Products that augment a service
</h3>
<p><img src="/images/products-spectrum05.svg" class="height-card-lg" alt="Products that augment a service"></p>
<p>Like to-go coffee cups<br>
  <b>Government examples:</b>
  Welcome to Telehealth Kit</p>

<div class="border-top-2px border-base-light margin-y-2">
  <h4 class="guide-references__title">REFERENCES</h4>
  <p>
    <strong>National Archives</strong><br>
    The National Archives has a useful and succint definition of the interplay of product and service from which this section draws. Find that original article via this link:
    <a href="https://www.archives.gov/preservation/products/definitions/products-services.html">https://www.archives.gov/preservation/products/definitions/products-services.html</a>
  </p>
</div>
