<h1>Design in the Public Sector</h1>
<h2>Public Sector Design differs from Private Sector</h2>
<p>
<strong>Differences in Need</strong><br>
Design in the Public Sector can seem a slower, more complicated affair than its Private Sector counterpart. However, each sector has its own unique values and pressures, terms to fulfill and spaces to explore. While the Private Sector is pressured
  by a constant need for increasing profit and the short-term thinking that they require, the Public Sector must respond to citizens and support the long lifespans we now enjoy.
</p>

<h2>Serve All the People...</h2>
<p>Design in the Public Sector means designing for all groups living or affected by the system for which we design. Whether of differing abilities, backgrounds, or worldviews, ages, or practices, design in the Public Sector must allow each group to
  access products and services. This means that the testing groups necessary for this space are massive, but must be addressed.</p>

<h2>...but Define Audience</h2>
<p>
<strong>Not exclusion; precision</strong><br>
In any design process, the sheer number of people for whom one is designing can be intimidating. To get it right, to include everyone, to consider all the angles, are all pressures design teams feel throughout their process. How, then, can a team
  effectively design for such a massive number of people as the entire public? The answer is that designers must define the audiences for their work. An imporant disinction here is precision in design, not exclusion to design. We have to be fair and
  inclusive of all people, which means designing at a precise scale of product, as opposed to a small scale of people.
</p>

<h3>Case Study</h3>
<p>
  <strong>VHA and preventative health</strong><br>
  One example of this difference is in the practice of preventative care now prevelant in the Veterans Health Administration’s (VHA) paradigm of healthcare. Moving away from the interventionist and symptom-driven healthcare modality of the previous
  century and centuries before, VHA now encourages veterans and their families to consider their health as an ongoing and integrated process of formal and informal actions and collaborations. This approach as resulted in a decrease of veteran need for
  specialized surgery and an increase of daily health markers, such as moving from a pre-diabetic state to a healthy state through weightloss management programs and support, and the long-term mental health support needed by those people living with
  PTSD or other emotional traumas.
</p>
<p>Many healthcare groups in the Private Sector know that the preventative healthcare approach is more effective at managing individuals’ care. However, because Public Sector healthcare centers around billing practices that support pricey, specialty
  services and interventionist practices that are easily billed for, they struggle to implement the more effective process piloted by VHA. This is not to say that the Private Sector has nothing to contribute in this space, but that this space would be
  unexplored if not for the differing values and timelines of the Public and Private Sectors. Because of this difference, both spheres of healthcare can benefit from one another.</p>
</p>

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="participants.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="designchange.html">Next &gt;</a>
  </div>
</div>
