<h1> Design Phase Principles</h1>

<h3>Purpose</h3>
<p>These explanations of the design principles outlined previously should help you contexualize why the authors of this Guide have selected these principles as items to keep top-of-mind during your design phase. This section should also
  act as a reference throughout your design process.
</p>
<h3>Introduction</h3>
<p>The following principles are a global way of defining Design phase work so that it will more likely reflect the needs and desires of your audience. They are applicable across the fields for which we design in the public sector.
As teams create and iterate during the Design phase, they run the risk of losing touch with the urgency of the needs and values expressed by participants during the Discovery phase. Having a set of guiding principles gives design teams the parameters they need to constantly reference participants' needs and perspective during the design phase proceeds.

These principles are general standards that designers and teams should bring to every project; they define an attitude to the work. Using them as a measuring stick allows designers to ensure impactful work by anchoring the value of participant inclusivity into each part of the design process. Though difficult as we move through a project/our projects, we have to design for how
		people are, not how we want them to be.

</p>

<h1>Team</h1>
<h2>Getting to simple is hard</h2>
<p class="usa-font-lead">Budget Time. And People. And Patience.</p>
<p>“How long will this take?” has to be one of the most terrifying questions any designer will be asked when embarking on the design phase. The simple answer is: one can’t know — but that time constraints can be useful. What we do know, from years of experience and many, many design case studies, is that getting to a simple, easy-to-understand, and useful solution to any design problem is the result of many rounds of iteration, problem-solving, and testing.</p>

<p><strong>The Semester Model</strong><br>
<p>We will go further into the details of scheduling a design phase in the Design Phase Operations Guide, but for now, one useful rule of thumb is the Semester Model, analogous to Epics in the Agile process*. Graduate thesis-level design projects typically span an entire semester with the students primarily working on their own or as a tight team and concentrating on nothing else. If your team meets this criterae: tightly working together and not concentrating on much else, then a semester, or 12-15 weeks, might be a good timeline for producing design work that has been developed through an iterative process and tested with either one or two round of participants, depending on how easy it is to schedule time with them. At 12 weeks, you can reasonably be able to offer your leadership and stakeholders a (hopefully brief) report on your design phase, including iterations and testing, and plan to move into secondary testing and piloting. More on this process in the <a href= "designimplementation.html.erb">Design & Implementation</a> section.
</p>
<p>
*If you don't know what an Epic or Agile is, don't worry. Agile is a process for digital product development, and is appropriate for developing not-quite-as-blue-sky products as this Guide series encompasses. You'll probably use Agile or a similar methodology in evolving digital products with a development/engineering team. Find out more about the Agile process from <a href= "https://pivotal.io/agile">this article.</a>

<p><strong>Making Decisions</strong><br>
To move through those iterations, design teams find themselves making a lot of decisions. This process can be anxiety-inducing, as it means the design won’t meet all the needs of the participants. This decision-making is, however, necessary. What a
  design team is trying to do is to make a precisely useful solution for a precise problem, not to make a large, unwiedly solution that tries (and fails) to solve all the problems encountered by the participants.
</p>

<!--<h3>Case Study</h3>
<p>
  <strong>Interstate System Signage</strong><br>
  One example of a simple, large scale, public design solution that has stood the test of time is the Interstate Signage system developed under President Nixon. In this work, the service of signage U.S. interstates needed to work inside incredible
  constraints. To name a few, the system had to be scalable across the entire country; it had to work across any interestate exchange style that might have been built in any topography; and it needed to be immediately recognizable by drivers, which
  means maintaing consistency in tone and word use across any variation of signage need.</p>
<p>This system had to be expressed as a series of products, the signs, which have to function well for drivers travelling at high speeds, in vehicles of wildly different height and agility, in both daytime and at night.</p>
-->

<h2>No Solitary Geniuses</h2>
<p>No one designs in a vaccuum. Working in teams allows use to utilize the unique background, training, and natural talents of a variety of people. In the same way that design teams go out and talk to participants during the Discovery phase, they also work as integrated teams
  instead of silo-ing themselves. This allows design teams to hear multiple points during the making phase, in the same way they heard multiple points of view during the Discovery phase.</p>

<!--<h3>Case Study</h3>
<p>
  <strong>NASA’s Mars Rover</strong><br>
  When the NASA undertook to land a rover on Mars, no one person accomplished the task. Not even one leader can take credit. Instead, to land and operate a rover successfully on Mars, NASA leveraged a team of engineers, scientists, and designers to
  take on the task. When the rover landed and started collecting important information regarding conditions on the Red Planet, the team celebrated.
</p>-->

<h2>It Takes All Kinds</h2>
<p>
  If you have heard the old saying "it takes all kinds to make the world go 'round," then you know what this principle is about. Designing for those unlike yourself depends on the practices of empathy and sympathy. Practicing these means creating designs that will work for the participant. To understand the difference, lets break them down.
</p>
<p>
  The word “empathy” is often used in the design circles to describe an ideal emotional state between designer and partcipant in which the designer has so deeply learned about the participant that they can, as nearly as possible, stand the shoes of
  the partcipant themselves. Operating at a high level, empathy can and should be practiced in tandem with a more targeted sense of sympathy. Sympathy, the ability to feel a similar emotion to another person, allows designers to make a cognitive leap
  across experiences so that they can design for the participants wholly different from themselves. Keeping these two types of emotional intelligence in mind during the Design phase allows designers to create solutions for people whose experiences they
  will never have, but with whom they can empathize at a high level and with whose experiences they can sympathize.
</p>
<p>
  You have practiced this throughout the Discovery phase. As you move deeper into design, remember that deep empathy or sympathy you developed. Lean on that while you iterate in order to design for your particpants, even if they are widely different from yourself.
</p>
<!--
<h3>Case Study</h3>
<p>
  <strong>The Lab and VA</strong><br>
  The Lab and the Department of Veterans Affairs have a long-standing partnership at the federal level. In this partnership, Lab team members partcipate in research and design work in many parts of VA, oftentimes working directly with veterans and
  providers.
</p>
<p>One of the key components of designing in this space is, for Lab team members, the practice of empathy and sympathy. Although not many Lab team members are veterans themselves, the act of gathering stories, of hearing and studying with veterans,
  allows the designers to understand at both broad and precise levels the needs of veterans when, for example, they transition from military to civilian life.
</p>
<p>An example of empathy in this area would be the abiltiy of a Lab team member to broadly draw on their understanding that change often results in anxiety. An example of sympathy would be the Lab team member understanding that departure from a
  military career is a unique experience unlike one they have had in their lives, but one that can and should be designed for and around.
</p>
-->
<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="designphase.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="participants.html">Next &gt;</a>
  </div>
</div>
