<h1>What's Next</h1>
<h2>Deliver Phase</h2>
<p>You’ve presented the opportunities to your key audience and gained consensus about which set of opportunities to address. Now you are ready to move to Design: the HCD phase wherein you partner with designers to prototype products, services or systems that address
the opportunities.</p>
<p>If, on the other hand, you have come this far and have not gained consensus, don’t despair. If you have come this far and feel your research has not been fruitful, <i>don’t despair</i>. Your effort is not wasted. You can always reframe and begin research again. It is far better to learn something is not working early on than to invest time and resources into the <i>wrong</i> design. A reframe, in this case, is a win.</p>
<p>Whether your next step is to move into Design, or whether it is reframe and do a second round of research, the most important thing is to keep your agency customers’ interests in mind and to use that north star to guide your continued efforts.</p>
<p>
<img src="/images/whatsnext-diagram.svg" class="" alt="Deliver Phase">
</p>
