<h1>What's Next</h1>
<h2>Deliver Phase</h2>
<p>You’ve drawn on your Discovery phase work and created prototypes from it. You've tested those prototypes with participants. You've kept your leadership informed. You've worked with the implementation team to make sure the work will see lift-off.</p>
<p>The team is set up for success. Next, with the Implementation team, move into the <strong>Deliver Phase</strong> and see your work enter the world at scale!

  <img src="/images/whatsnext-diagram.svg" alt="Deliver Phase">
</p>
